flows.json
[{"id":"e86daa6e.705a28","type":"tab","label":"Motor-OSC"},{"id":"1485e426.9e7c3c","type":"inject","z":"e86daa6e.705a28","name":"set dest ip","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/setDestIp","payload":"1","payloadType":"num","x":140,"y":720,"wires":[["fb55227a.48efe"]]},{"id":"d0eafa6c.a6ebd8","type":"inject","z":"e86daa6e.705a28","name":"Stop All","props":[{"p":"payload","v":"255","vt":"num"},{"p":"topic","v":"/hardHiZ","vt":"string"}],"repeat":"","crontab":"","once":false,"topic":"/hardHiZ","payload":"255","payloadType":"num","x":130,"y":760,"wires":[["fb55227a.48efe"]]},{"id":"31b0dbec.8d9e64","type":"debug","z":"e86daa6e.705a28","name":"","active":false,"console":"false","complete":"true","x":1330,"y":300,"wires":[]},{"id":"a42a979c.9fb858","type":"function","z":"e86daa6e.705a28","name":"Scale to motor position","func":"var motorPosition = msg.payload;\n\nvar motorPositionMax = flow.get(\"motorPositionMax\") || 12800;\nvar motorPositionMin = flow.get(\"motorPositionMin\") || 0;\nvar motorPositionRange = motorPositionMax - motorPositionMin;\n\nmotorPosition = Math.floor(motorPositionRange * motorPosition + motorPositionMin);\n    \nmsg.payload = motorPosition;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1420,"wires":[["ded35d7c.133d8","6e5a4ee6.50c3a"]]},{"id":"90681234.f452e","type":"link in","z":"e86daa6e.705a28","name":"toSTEP400","links":["9071d464.ad4ee8","fb55227a.48efe","4b0e3ad3.461994"],"x":1175,"y":300,"wires":[["7cc17ebe.78c7a","31b0dbec.8d9e64"]]},{"id":"deae1c2d.e22a1","type":"inject","z":"e86daa6e.705a28","name":"enable servo mode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"1","payloadType":"num","x":170,"y":520,"wires":[["b1f8346f.27a6d8"]]},{"id":"67cc40ba.16aa9","type":"inject","z":"e86daa6e.705a28","name":"start up sequence","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"1","payloadType":"num","x":170,"y":60,"wires":[["913aa1c1.10e1a"]]},{"id":"2cfed56e.cddb2a","type":"change","z":"e86daa6e.705a28","name":"setDestIp","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"/setDestIp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":100,"wires":[["9071d464.ad4ee8"]]},{"id":"d6ac6d3b.670e8","type":"change","z":"e86daa6e.705a28","name":"hardHiZ","rules":[{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"/hardHiZ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[["9071d464.ad4ee8"]]},{"id":"3b3664d5.92d19c","type":"change","z":"e86daa6e.705a28","name":"setHomeSwMode -hard stop","rules":[{"t":"set","p":"topic","pt":"msg","to":"/setHomeSwMode","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":260,"wires":[["1a734b95.03fe34"]]},{"id":"b1f8346f.27a6d8","type":"change","z":"e86daa6e.705a28","name":"enable servo mode","rules":[{"t":"set","p":"topic","pt":"msg","to":"/enableServoMode","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":520,"wires":[["ec0ec8a2.7df428","5152df9b.c7e71"]]},{"id":"4d4d6265.0fc30c","type":"inject","z":"e86daa6e.705a28","name":"set home sw mode hard stop","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/setHomeSwMode","payload":"[{\"type\":\"i\", \"value\":255}, {\"type\":\"i\", \"value\":0}]","payloadType":"json","x":200,"y":1220,"wires":[["fb55227a.48efe"]]},{"id":"2ce91724.58b1f8","type":"inject","z":"e86daa6e.705a28","name":"go home","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/goHome","payload":"1","payloadType":"num","x":140,"y":1180,"wires":[["fb55227a.48efe"]]},{"id":"26c00c85.7b8054","type":"inject","z":"e86daa6e.705a28","name":"release SW","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/releaseSw","payload":"[{\"type\":\"i\", \"value\":255}, {\"type\":\"i\", \"value\":0}, {\"type\":\"i\", \"value\":1}]","payloadType":"json","x":150,"y":1100,"wires":[["fb55227a.48efe"]]},{"id":"95c640e3.03f65","type":"inject","z":"e86daa6e.705a28","name":"ResetPos","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/resetPos","payload":"[{\"type\":\"i\",\"value\":1}]","payloadType":"json","x":140,"y":1140,"wires":[["fb55227a.48efe"]]},{"id":"685513b7.3db7cc","type":"inject","z":"e86daa6e.705a28","name":"run 100","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/run","payload":"[{\"type\":\"i\", \"value\":255}, {\"type\":\"i\", \"value\":100}]","payloadType":"json","x":130,"y":820,"wires":[["fb55227a.48efe"]]},{"id":"ed1b3621.231c08","type":"inject","z":"e86daa6e.705a28","name":"get home sw mode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/getHomeSwMode","payload":"{\"type\":\"i\", \"value\":255}","payloadType":"json","x":170,"y":1300,"wires":[["fb55227a.48efe"]]},{"id":"2fecd375.ba29ec","type":"debug","z":"e86daa6e.705a28","name":"osc responce","active":false,"console":"false","complete":"true","x":410,"y":1680,"wires":[]},{"id":"51637b5.c083d84","type":"switch","z":"e86daa6e.705a28","name":"is flow.enableServo ture?","property":"enableServo","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":870,"y":1420,"wires":[["a66516ab.979e58","4b0e3ad3.461994"]]},{"id":"ec0ec8a2.7df428","type":"change","z":"e86daa6e.705a28","name":"","rules":[{"t":"set","p":"enableServo","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":520,"wires":[[]]},{"id":"4f7f382c.d15618","type":"change","z":"e86daa6e.705a28","name":"disable servo mode","rules":[{"t":"set","p":"enableServo","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":60,"wires":[[]]},{"id":"8db41225.0ab81","type":"inject","z":"e86daa6e.705a28","name":"set motor min limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"0","payloadType":"num","x":170,"y":1540,"wires":[["a75af9d0.c7d3d8"]]},{"id":"c5504c4d.eb5b2","type":"change","z":"e86daa6e.705a28","name":"","rules":[{"t":"set","p":"motorPositionMin","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1540,"wires":[[]]},{"id":"7c29a9f.45fec58","type":"inject","z":"e86daa6e.705a28","name":"set motor max limit [rotation]","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"1","payloadType":"num","x":200,"y":1580,"wires":[["f36dbd30.c2faa"]]},{"id":"48717716.7f0f98","type":"change","z":"e86daa6e.705a28","name":"","rules":[{"t":"set","p":"motorPositionMax","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1580,"wires":[[]]},{"id":"4b0e3ad3.461994","type":"link out","z":"e86daa6e.705a28","name":"toMotorOSC_2","links":["1f1a8334.5ca30d","90681234.f452e"],"x":1075,"y":1380,"wires":[]},{"id":"f36dbd30.c2faa","type":"range","z":"e86daa6e.705a28","minin":"0","maxin":"1","minout":"0","maxout":"25600","action":"scale","round":false,"property":"payload","name":"","x":400,"y":1580,"wires":[["48717716.7f0f98"]]},{"id":"fb55227a.48efe","type":"link out","z":"e86daa6e.705a28","name":"toMotorOSC","links":["90681234.f452e"],"x":735,"y":720,"wires":[]},{"id":"2601b149.9b9a1e","type":"inject","z":"e86daa6e.705a28","name":"home sw mode - release hard stop mode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/setHomeSwMode","payload":"[{\"type\":\"i\", \"value\":1}, {\"type\":\"i\", \"value\":1}]","payloadType":"json","x":240,"y":1260,"wires":[["fb55227a.48efe"]]},{"id":"6e5a4ee6.50c3a","type":"function","z":"e86daa6e.705a28","name":"set single target position","func":"var value = msg.payload;\nmsg.payload = \n[\n    {\"type\":\"i\", \"value\":1},\n    {\"type\":\"i\", \"value\":value}\n\n];\nmsg.topic = \"/setTargetPosition\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1420,"wires":[["51637b5.c083d84"]]},{"id":"2900a0cd.588ac","type":"inject","z":"e86daa6e.705a28","name":"disable servo mode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"0","payloadType":"num","x":170,"y":600,"wires":[["a681c35e.2f459"]]},{"id":"a681c35e.2f459","type":"change","z":"e86daa6e.705a28","name":"disable servo mode","rules":[{"t":"set","p":"topic","pt":"msg","to":"/enableServoMode","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":600,"wires":[["854ce416.1633e8","c6e062af.d588f"]]},{"id":"854ce416.1633e8","type":"change","z":"e86daa6e.705a28","name":"unset enable servo","rules":[{"t":"set","p":"enableServo","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":600,"wires":[[]]},{"id":"3683ea2b.673556","type":"change","z":"e86daa6e.705a28","name":"set Kval","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"type\":\"i\", \"value\":10}, {\"type\":\"i\", \"value\":50}, {\"type\":\"i\", \"value\":60}, {\"type\":\"i\", \"value\":60}]","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"/setKval","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":180,"wires":[["1a734b95.03fe34"]]},{"id":"1a734b95.03fe34","type":"function","z":"e86daa6e.705a28","name":"Broad cast msg to all motors","func":"// if payload is json object\nif(typeof msg.payload === \"object\"){\n    var message = [{\"type\":\"i\", \"value\":255}];\n    for(var i = 0; i < msg.payload.length; i ++)\n    {\n        message.push(msg.payload[i]);\n    }\n    msg.payload = message;\n}\nelse\n{\n    msg.payload = [{\"type\":\"i\", \"value\":255}, {\"type\":\"i\", \"value\":msg.payload}];\n}\n\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","x":1080,"y":340,"wires":[["31b0dbec.8d9e64","7cc17ebe.78c7a"]]},{"id":"c07cc11c.5ee8b","type":"link in","z":"e86daa6e.705a28","name":"sendOSCALL","links":["5152df9b.c7e71","c6e062af.d588f","a5241787.a5c8b8","e03195aa.e867f8","d31c23d7.fc2e9","f91331c6.48b28"],"x":895,"y":360,"wires":[["1a734b95.03fe34"]]},{"id":"5152df9b.c7e71","type":"link out","z":"e86daa6e.705a28","name":"sendOSC_ALL","links":["c07cc11c.5ee8b"],"x":715,"y":560,"wires":[]},{"id":"c6e062af.d588f","type":"link out","z":"e86daa6e.705a28","name":"sendOSC_ALL","links":["c07cc11c.5ee8b"],"x":715,"y":640,"wires":[]},{"id":"9071d464.ad4ee8","type":"link out","z":"e86daa6e.705a28","name":"toMotorOSC","links":["90681234.f452e"],"x":755,"y":100,"wires":[]},{"id":"a66516ab.979e58","type":"debug","z":"e86daa6e.705a28","name":"","active":false,"console":"false","complete":"false","x":1130,"y":1420,"wires":[]},{"id":"a75af9d0.c7d3d8","type":"range","z":"e86daa6e.705a28","minin":"0","maxin":"1","minout":"0","maxout":"25600","action":"scale","round":false,"name":"","x":400,"y":1540,"wires":[["c5504c4d.eb5b2"]]},{"id":"4e08db4b.7da2b4","type":"change","z":"e86daa6e.705a28","name":"set servo param","rules":[{"t":"set","p":"topic","pt":"msg","to":"/setServoParam","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"[{\"type\":\"f\",\"value\":0.06},{\"type\":\"f\",\"value\":0},{\"type\":\"f\",\"value\":0.001}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["1a734b95.03fe34"]]},{"id":"913aa1c1.10e1a","type":"function","z":"e86daa6e.705a28","name":"Null","func":"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":60,"wires":[["4f7f382c.d15618","2cfed56e.cddb2a","d6ac6d3b.670e8","3683ea2b.673556","4e08db4b.7da2b4","93297122.94ccd","3b3664d5.92d19c","edcec610.0de3d8","cb995150.64d9c","7f83bc2d.014894","33ff1f2.47584e"]]},{"id":"2279d94a.3c4046","type":"inject","z":"e86daa6e.705a28","name":"get position","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/getPosition","payload":"{\"type\":\"i\", \"value\":1}","payloadType":"json","x":150,"y":1340,"wires":[["fb55227a.48efe"]]},{"id":"6fe7620f.0b2fac","type":"inject","z":"e86daa6e.705a28","name":"goTo 1 rev","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/goTo","payload":"[{\"type\":\"i\", \"value\":255}, {\"type\":\"i\", \"value\":25600}]","payloadType":"json","x":140,"y":960,"wires":[["fb55227a.48efe"]]},{"id":"93297122.94ccd","type":"change","z":"e86daa6e.705a28","name":"goUntil -> home position","rules":[{"t":"set","p":"topic","pt":"msg","to":"/goUntil","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"[{\"type\":\"i\", \"value\":0}, {\"type\":\"i\", \"value\":-350}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":300,"wires":[["1a734b95.03fe34"]]},{"id":"edcec610.0de3d8","type":"change","z":"e86daa6e.705a28","name":"","rules":[{"t":"set","p":"checkHomeSw","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":380,"wires":[[]]},{"id":"cb995150.64d9c","type":"change","z":"e86daa6e.705a28","name":"reset flow.homeSwState","rules":[{"t":"set","p":"homeSwState","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":420,"wires":[[]]},{"id":"7f83bc2d.014894","type":"change","z":"e86daa6e.705a28","name":"enableHomeSwReport","rules":[{"t":"set","p":"topic","pt":"msg","to":"/enableHomeSwReport","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":340,"wires":[["1a734b95.03fe34"]]},{"id":"c11bc216.e2ae8","type":"inject","z":"e86daa6e.705a28","name":"goUntil 1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/goUntil","payload":"[{\"type\":\"i\", \"value\":1}, {\"type\":\"i\", \"value\":0}, {\"type\":\"i\", \"value\":-350}]","payloadType":"json","x":140,"y":1020,"wires":[["fb55227a.48efe"]]},{"id":"ef45863a.1f5838","type":"inject","z":"e86daa6e.705a28","name":"getHomeSw","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/getHomeSw","payload":"[{\"type\":\"i\", \"value\":1}]","payloadType":"json","x":150,"y":1060,"wires":[["fb55227a.48efe"]]},{"id":"933a0231.2a66f","type":"inject","z":"e86daa6e.705a28","name":"run -100","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/run","payload":"[{\"type\":\"i\", \"value\":255}, {\"type\":\"f\", \"value\":-100}]","payloadType":"json","x":140,"y":860,"wires":[["fb55227a.48efe"]]},{"id":"7cc17ebe.78c7a","type":"osc","z":"e86daa6e.705a28","name":"","path":"","metadata":false,"x":1330,"y":340,"wires":[["8bd8ba13.d53e28"]]},{"id":"b02ac0d8.d9997","type":"udp in","z":"e86daa6e.705a28","name":"","iface":"","port":"50101","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":120,"y":1680,"wires":[["34006649.9820ba"]]},{"id":"34006649.9820ba","type":"osc","z":"e86daa6e.705a28","name":"","path":"","metadata":false,"x":270,"y":1680,"wires":[["2fecd375.ba29ec"]]},{"id":"8bd8ba13.d53e28","type":"udp out","z":"e86daa6e.705a28","name":"","addr":"10.0.0.101","iface":"","port":"50000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1400,"y":400,"wires":[]},{"id":"ded35d7c.133d8","type":"debug","z":"e86daa6e.705a28","name":"","active":true,"console":"false","complete":"false","x":570,"y":1460,"wires":[]},{"id":"6f0c166f.c7c898","type":"udp out","z":"e86daa6e.705a28","name":"","addr":"localhost","iface":"","port":"50000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1400,"y":460,"wires":[]},{"id":"718a89bd.1ba878","type":"inject","z":"e86daa6e.705a28","name":"goTo 0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"/goTo","payload":"[{\"type\":\"i\", \"value\":255}, {\"type\":\"i\", \"value\":0}]","payloadType":"json","x":130,"y":920,"wires":[["fb55227a.48efe"]]},{"id":"bfeb5fed.c04af","type":"ui_slider","z":"e86daa6e.705a28","name":"","label":"slider","tooltip":"","group":"e773ba0f.682f18","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"1","step":"0.05","x":110,"y":1460,"wires":[["a42a979c.9fb858"]]},{"id":"416400fc.764b5","type":"inject","z":"e86daa6e.705a28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.5","payloadType":"num","x":130,"y":1420,"wires":[["a42a979c.9fb858"]]},{"id":"33ff1f2.47584e","type":"delay","z":"e86daa6e.705a28","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":460,"wires":[["b1f8346f.27a6d8"]]},{"id":"e773ba0f.682f18","type":"ui_group","z":"e86daa6e.705a28","name":"Motor Control","tab":"bf6ad598.aee8d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"bf6ad598.aee8d8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]